<div class="video-index-page">
  <%= render "partial/videos_page_navbar" %>

  <div class="video-swipe">
    <div class="video-swipe--status">
      <i class="fa fa-times"></i>
      <i class="fa fa-heart"></i>
    </div>

    <div class="video-swipe--cards">
      <% @youtube_videos.items.each do |item| %>
        <div 
        class="video-swipe--card"
        >
          <iframe width="480" height="200" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <% snippet = item.snippet %>
          <div class="video-info" style="margin-top:10%;font-size:10px;color:black;">
            <div id="video-title">
              <%= snippet.title %>
            </div>
            <div>
              <%= snippet.description %>
            </div>
            <div>
              <%= snippet.published_at %>
            </div>
            <div>
              <%= snippet.channel_id %>
            </div>
            <div>
              <%= snippet.channel_title %>
            </div>
            <div>
              <%= image_tag snippet.thumbnails.default.url %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="no-user">近くにお相手がいません</div>
    </div>

    <div class="video-swipe--buttons">
      <button id="video-dislike"><i class="fas fa-times fa-2x"></i></button>
      <button id="video-like"><i class="fas fa-heart fa-2x"></i></button>
    </div>
  </div>

  <%= form_with url:'/youtube/videos', method: :get, local: true do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit 'Search' %> <%= link_to 'Clear',youtube_videos_path %>
  <% end %>
  
</div>
