<div class="video-index-page">
  <%= render "partial/videos_page_navbar" %>

  <div class="video-swipe">
    <div class="video-swipe--status">
      <i class="fa fa-times"></i>
      <i class="fa fa-heart"></i>
    </div>

    <div class="video-swipe--cards">
      <% @my_videos.each do |my_video| %>
        <div
          style="display:none;"
        >
          <%= myvideo_id = my_video.id.to_s %>
          <%= myvideo_unique_id = my_video.video_id.to_s %>
        </div>
        <div 
        class="video-swipe--card"
        id="<%= myvideo_id + '-' + myvideo_unique_id %>"
        >
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/<%= my_video.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <div class="video-info" style="margin-top:10%;font-size:10px;color:black;">
            <div
              style="font-size:16px;"
            >
              動画のタイトル
            </div>
            <div
              style="
              text-align:center;
              "
            >
              <%= my_video.title %>
            </div>
            <div
              style="font-size:16px;"
            >
              動画の説明
            </div>
            <div
              style="text-align:center;"
            >
              <%= my_video.description %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="no-user">動画がありません</div>
    </div>
  </div>
  
  <div 
    class="video-swipe--buttons"
    >
    <button id="myvideo-dislike"><i class="fas fa-times fa-2x"></i></button>
    <button id="myvideo-like"><i class="fas fa-heart fa-2x"></i></button>
  </div>

  <div
    style="
      margin-top:10%;
      margin-bottom:10%;
    "
  >
    <%= form_with url:'/youtube/videos_search', method: :get, local: true do |f| %>
      <div
        style="text-align:center;"
      >
        <%= f.text_field :keyword %>
        <%= f.submit 'Search' %> <%= link_to 'Clear',youtube_myvideos_path %>
      </div>
    <% end %>
  </div>
  
  <div>
      <%= render "partial/links_to_myvideos_status_like_or_dislike" %>
  </div>

</div>
