<% @like_myvideos.each do |like_myvideo| %>
  <div
    style="display:flex;"
  > 
    <div>
      <iframe width="480" height="200" src="https://www.youtube.com/embed/<%= like_myvideo.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="video-info" style="margin-top:10%;font-size:10px;color:black;">
      <div id="video-title">
        <%= like_myvideo.title %>
      </div>
      <div id="video-title">
        <%= like_myvideo.description %>
      </div>
      <div id="video-title">
        <%= like_myvideo.description %>
      </div>
      <div id="video-title">
        <%= like_myvideo.channel_id %>
      </div>
      <div id="video-title">
        <%= like_myvideo.channel_title %>
      </div>
    </div>
  </div>
<% end %>
