<div class="user-show-page">

  <%= render "partial/users_page_navbar" %>

  <% if params[:share_video_unique_id].present? %>
    <div>
      <% breadcrumb :video_share_user_page, @user, class: "logo"%>
      <%= breadcrumbs separator: " &rsaquo; "%>
    </div>
  <% else %>
    <div>
      <% breadcrumb :user, @user %>
      <%= breadcrumbs separator: " &rsaquo; "%>
    </div>
  <% end %>
  


  <div class="profile mt-4">
    <% if @user.profile_image.url.nil? %>
      <div class="profile-default-img"></div>
    <% else %>
      <%= image_tag @user.profile_image.url, class: "profile-img" %>
    <% end %>

    <div class="profile-name mt-4">
      <%= @user.name %>
    </div>

    <div class="profile-text">
      <%= @user.self_introduction %>
    </div>
  </div>

  <% if current_user.id == @user.id %>
  <div
  >
    <div
    class="user-action"
    style="
    display: flex;
    justify-content: space-between;
    "
    >
      <div>
        <div
         class="user-action-common"
        >
          <%=link_to users_status_like_path(@user) do %>
            <i class="fas fa-heart fa-2x"></i>
            <i class="fas fa-user-alt fa-2x"></i>
          <% end %>
        </div>
        <div
        style="
        color: grey;
        text-align: center;
        margin-top: 5px;
        "
        >
          <p>タイプした</p>
          <p style="margin-top: -10px;">ユーザーをみる</p>
        </div>
      </div>
      <div>
        <div class="user-action-common">
          <%=link_to youtube_myvideos_status_like_index_path do %>
            <i class="fas fa-heart fa-2x"></i>
            <i class="fas fa-play-circle fa-2x"></i>
          <% end %>
        </div>
        <div
        style="
        text-align: center;
        color: grey;
        margin-top: 5px;
        "
        >
          <p>Likeした</p>
          <p style="margin-top: -10px;">動画をみる</p>
        </div>
      </div>
      <div>
        <div class="user-action-common">
          <%=link_to youtube_myvideos_status_like_shared_and_sharing_history_path do %>
            <i class="fas fa-share-alt fa-2x"></i>
            <i class="fas fa-play-circle fa-2x"></i>
          <% end %>
        </div>
        <div
        style="
        text-align: center;
        color: grey;
        margin-top: 5px;
        "
        >
          <p>共有している</p>
          <p style="margin-top: -10px;">動画をみる</p>
        </div>
      </div>
    </div>
  </div>

    <div class="user-action">
      <div class="user-action-common">

      <%= link_to destroy_user_session_path, method: :delete do %>

        <i class="fas fa-sign-out-alt fa-2x"></i>
      <% end %>
      <p style="text-align: center;">ログアウト</p>

      </div>
      <div class="user-action-common">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pencil-alt fa-2x"></i>
        <% end %>
        <p style="text-align: center;">情報を編集</p>
      </div>
    </div>
  <% end %>

  <% if params[:share_video_unique_id].present? %>
    <div
    style="
    display: flex;
    justify-content: center;
    ">
      <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= params[:share_video_unique_id] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    
    <div
    style="
    margin-top: 5%;
    display: flex;
    justify-content: center;
    ">
      <%= link_to'共有する', youtube_myvideos_status_like_share_index_path(@user ,params: {youtube_video_id: params[:share_video_unique_id], from_user_id: current_user.id, to_user_id: params[:id]}), method: :post, class: 'btn btn-primary', style: 'margin-bottom: 10%;' %>
    </div>
  <% end %>

</div>
