<div class="video-index-page">
  <%= render "partial/videos_page_navbar" %>

  <div
  style="
  text-align: center;
  font-size:20px;
  "
  >
    <p>DisLikeした動画</p>
    <p style="font-size: 12px;">7日で自動的に削除されます</p>
  </div>
  
  <%= form_with url:'/youtube/myvideos/status/dislike', method: :get, local: true, class: 'cp_iptxt' do |f| %>
    <div
    >
      <%= f.text_field :keyword, style: 'margin-left: 10%;' %>
      <div style="display: flex; justify-content: center;">
        <%= f.submit '検索する', class: 'btn btn-primary', style: 'margin-left: 15%; font-size: 16px;' %>
        <%= link_to 'クリア', youtube_myvideos_status_dislike_index_path, class: 'btn btn-secondary', style: 'margin-left: 15%; font-size: 16px;' %>
      </div>
    </div>
  <% end %>

  <% @dislike_myvideos.each do |dislike_myvideo| %>
    <div
      style="
      display:flex;
      "
    > 
      <div
        style="
        margin-left:15px;
        margin-top:10px;
        margin-bottom:10px;
        "
      >
        <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= dislike_myvideo.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
      <div
        class="video-info"
        style="
        margin-left:5px;
        margin-left:5px;
        margin-top:10px;
        margin-bottom:10px;
        "
      >
        <div
        class="status-assigned-video-title"
        style="
        font-size:16px;
        "
        >
            <%= dislike_myvideo.title.truncate(40) %>
        </div>

        <div
        class="status-assigned-video-description"
        style="font-size:10px;"
        >
          <%= dislike_myvideo.description.truncate(40) %>
        </div>
      
        <div
        class="status-assigned-video-buttons"
        style="
        display:flex;
        "
        >
          <div
            style="
            background-color: #FFCCFF;
            border-radius: 10px 10px 10px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            height: 100%;
            width: 125%;
            font-size:20px;
            "
          >
            <%= link_to youtube_myvideos_favorite_path(dislike_myvideo,params:{
              id: dislike_myvideo.id,
              favorite: 'like'
              } 
            ),
            method: :patch,
            style: "
            color: black;
            " do%>
              <div
                style="
                display: flex;
                justify-content: center;
                "
              >
                <div
                  style="margin-right: 5px;"
                >
                  <i class="fas fa-heart fa-sm inherit", style="color:black;"></i>
                </div>
                <div>
                  <i class="fas fa-play-circle fa-lg inherit"></i>
                </div>
              </div>
            <% end %>
          </div>

          <div
            style="
            background-color: #F5F5F5;
            border-radius: 10px 10px 10px 10px;
            margin-right: 10px;
            height: 100%;
            width: 125%;
            font-size:20px;
            "
          >
            <%= link_to youtube_myvideos_status_dislike_path(dislike_myvideo), 
            method: :delete,
            style: "
            color: black;
            " do%>
              <div
                style="
                display: flex;
                justify-content: center;
                "
              >
                <div
                  style="margin-right: 5px;"
                >
                  <i class="fas fa-trash fa-sm inherit", style="color:black;"></i>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div
          style="display: flex;"
        >
          <div
            style="
            margin-right: 10px;
            height: 100%;
            width: 125%;
            font-size:8px;
            "
           >
            <%= dislike_myvideo.updated_at.since(7.days).strftime('%Y/%m/%d') %>に自動削除されます
          </div>
        </div>
      
      </div>
    
    
    </div>


  <% end %>

  <%= paginate @dislike_myvideos %>


  <div>
    <%= render "partial/links_to_myvideos_status_like_or_dislike" %>
  </div>
  
</div>
