<div
  style="
  width: 100%;
  height: 100vh;
  background-color:#F5FFFA;
  "
>
  <div
  style="
  display: flex;
  "
  >
  <div>
    <div
    style="
    display: flex;
    "
    >
      <div
      style="
      margin-top: 6%;
      margin-left: 30%;
      margin-right: 1%;
      font-size: 32px;
      "
      >
        <div>
          <div>
            Userモデルレコード
          </div>
          <div>
            id =<%= @user.id %>
          </div>
        </div>
        <div>
          <div
          style="
          margin-left: 5px;
          margin-right: 5px;
          display: flex;
          "
          >
            <div
            style="
            margin-left: 5px;
            margin-right: 5px;
            "
            >
            <%= link_to admin_dashboard_user_path(@user) do %>
              <i class="fa fa-info-circle fa-1x"></i>
            <% end %>
            </div>
            <div
            style="
            margin-left: 5px;
            margin-right: 5px;
            "
            >
            <%= link_to edit_admin_dashboard_user_path(@user) do %>
              <i class="fa fa-pen fa-1x"></i>
            <% end %>
            </div>
            <div
            style="
            margin-left: 5px;
            margin-right: 5px;
            "
            >
            <%= link_to admin_dashboard_user_path(@user), method: :delete do %>
              <i class="fa fa-trash fa-1x"></i>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div
      style="
      margin-top: 1%;
      "
      >
        <table border="1">
          <thead
          class="table-dark"
          >
            <tr>
              <th>
                <div
                style="
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                "
                >
                  <%= @model_name %>
                </div>
              </th>
            </tr>
          </thead>

          <% @column_names.each do |column_name|  %>
          <tr>
            <td>
              <div
              style="
              margin-left: 10px;
              margin-right: 10px;
              "
              >
              <%= column_name %>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div
    style="
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    "
    class="table-responsive"
    >
      <table
      class="table"
      border="1"
      >
        <thead
        class="table-dark"
        >
          <tr>
            <th>
              <div
              style="
              text-align: center;
              font-size: 20px;
              "
              >
                id
              </div>
            </th>
          <% @column_names.drop(1).take((@column_names.size.to_f/2).ceil).each do |column_name| %>
            <th>
              <div
              style="
              text-align: center;
              font-size: 20px;
              "
              >
              <%= column_name.truncate(10) %>
              </div>
            </th>
          <% end %>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>
              <%= @user.id %>
            </td>
            <% @user.attributes.drop(1).take((@user.attributes.size.to_f/2).ceil).each do |key, value| %>
            <td>
              <div
              style="
              margin-left: 10px;
              margin-right: 10px;
              "
              >
                <% if value.present? %>
                  <%= form_with model: [:admin, :dashboard, @user] do |f| %>
                    <%= f.text_field "#{key}", style: 'width: 75px;' %>
                    <%= f.submit %>
                  <% end %>
                <% else %> 
                <% end %>
              </div>
            </td>
            <% end %>
          </tr>
        </tbody>
     </table>
     <table
     class="table"
     border="1"
     >
       <thead
       class="table-dark"
       >
        <tr>
        <% @column_names.drop((@column_names.size.to_f/2).ceil).each do |column_name| %>
          <th>
            <div
            style="
            text-align: center;
            font-size: 20px;
            "
            >
            <%= column_name.truncate(10) %>
            </div>
          </th>
        <% end %>
        </tr>
      </thead>
       <tbody>
        <tr>
          <% @user.attributes.drop((@user.attributes.size.to_f/2).ceil).each do |key, value| %>
            <td>
              <div
              style="
              margin-left: 10px;
              margin-right: 10px;
              "
              >
                <% if value.present? %>
                  <%= form_with model: [:admin, :dashboard, @user] do |f| %>
                    <%= f.text_field "#{key}", style: 'width: 75px;' %>
                    <%= f.submit %>
                  <% end %>
                <% else %> 
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      </tbody>
     </table>
    </div>
  </div>
</div>
