<div class="video-index-page">
  <%= render "partial/videos_page_navbar" %>

  
  <div>
    <% breadcrumb :videos_search %>
    <%= breadcrumbs separator: " &rsaquo; "%>
  </div>

  
  <%= form_with url:'/youtube/videos_search', method: :get, local: true, class: 'cp_iptxt' do |f| %>
    <div
      style="text-align:center;"
    >
      <%= f.text_field :keyword, style: 'margin-left: 10%;' %>
      <%= f.submit '検索する', class: 'btn btn-primary', style: 'margin-left: 15%; font-size: 16px;' %> 
      <%= link_to 'クリア',youtube_videos_search_index_path, class: 'btn btn-secondary', style: 'margin-left: 15%; font-size: 16px;' %>
    </div>
  <% end %>

  <div
  style="
  font-size: 16px;
  margin-left: 3%;
  "
  >
    検索された動画キーワード
  </div>
  <% @search_words.each do |search_word| %>
    <div
    style="
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    "
    >
        <div
        style="
        margin-right: 10px;
        "
        >
          <i class="fas fa-search fa-sm inherit", style="color:black;"></i>
        </div>
        <div
        style="
          border-radius: 15px 15px 15px 15px;
          text-align: center;
          font-size: 16px;
        "
        >
          <%= link_to  youtube_myvideos_path(q: search_word) ,method: :get do %>
            <%= search_word %>
          <% end %>
        </div>
    </div>
  <% end %>

  <%= paginate @search_words, class: "pagination" %>

  <div>
    <%= render "partial/links_to_myvideos_status_like_or_dislike" %>
  </div>
  
</div>
