<p>※このメールは自動送信メールです。</p>

<p><%= @email %> 様</p>

<p><%= Rails.application.credentials.confirmation_mail[:app_name] %>事務局でございます。</p>
<p>この度は<%= Rails.application.credentials.confirmation_mail[:app_name] %>にご登録いただきありがとうございます。</p>

<p>下記のリンクからアカウントメールの確認をお願いいたします。</p>

<p><%= link_to 'アカウントメールの確認はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p><%= Rails.application.credentials.confirmation_mail[:mail_sender_address] %></p>

<p>――――――――――――――――――――――――――――――</p>
<%= Rails.application.credentials.confirmation_mail[:app_name] %>事務局<br>
URL ： <%= Rails.application.credentials.confirmation_mail[:web_protocol] %>://<%= Rails.application.credentials.confirmation_mail[:web_host] %><br>
Mail ： <%= Rails.application.credentials.confirmation_mail[:mail_sender_address] %><br>
<p>――――――――――――――――――――――――――――――</p>
